.container-primary {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
}

main{
    position: relative;
    margin-top:80px;
    background-color: rgb(255, 255, 255);
}
footer {
    margin-top: 30px;
    width: 100vw;
    min-height: 80px;
    background-color: rgb(26, 39, 49);
}