<section class="menuLeft">

</section>

<div class="responsiveTitle">
    <span class="title">
        AUDE
        <span class="subtitle">
            systems.
        </span>
    </span>
</div>
<section class="container-title">

    <div class="left">
        <img src="./assets/proyecto001_img1.png" alt="" class="icon_01" alt="primary icon">
    </div>
    <div class="right">
        <div class="title">
            Impulsamos la automatización y el desarrollo de software a medida para comercios e industrias, siendo
            expertos en crear soluciones tecnológicas personalizadas para satisfacer las necesidades de nuestros
            clientes.
        </div>
        <div class="container-options">
            <div class="options">
                <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                <span class="option_text">Atencion a clientes 24/7</span>
            </div>
            <div class="options">
                <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                <span class="option_text">Software multiplataforma</span>
            </div>
            <div class="options">
                <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                <span class="option_text">Diseño dinamicos</span>
            </div>
            <div class="options">
                <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                <span class="option_text">Plazos de entrega optimizados</span>
            </div>
            <div class="options">
                <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                <span class="option_text">Administracion de hosting</span>
            </div>
        </div>
    </div>
</section>

<section class="container-services">
    <div class="web-app-container">
        <div class="web-app-container-left">
            
            <div class="web-app-title">
                Agrega tu aplicacion web junto a tus apps favoritas
            </div>
            <br>
            <div class="web-app-content">
                Obtén el mejor software para tu empresa con nuestro servicio
                <br>
                <br>

                <div class="card">
                    <img src="./assets/mark.png" alt="" class="flecha">
                    Sitio web responsivo y adaptable a cualquier resolución de pantalla.
                </div>
                <div class="card">
                    <img src="./assets/mark.png" alt="" class="flecha">
                    Optimizada para una carga rapida.
                </div>
                <div class="card">
                    <img src="./assets/mark.png" alt="" class="flecha">
                    Sé la primera opción para tus clientes con nuestra optimización de búsquedas para páginas web.
                </div>
                <div class="card">
                    <img src="./assets/mark.png" alt="" class="flecha">
                    Versión móvil incluida.
                </div>
               
            </div>
        </div>

        <div class="web-app-container-right">
            <div class="web-app-image001-container">
                <img src="./assets/proyectos/web_app_001.jpeg " alt="" class="web-app-img001">
            </div>
        </div>
    </div>
    <!-- <div class="container-service">
        <span class="title">Software dedicado.</span>
    </div>
    <div class="container-service">
        <span class="title">Desarrollo de pagina web.</span>
    </div>
    <div class="container-service">
        <span class="title">Soporte de software implementado.</span>
    </div>
    <div class="container-service">
        <span class="title">Gestion de hosting y dominio.</span>
    </div> -->
</section>
<section class="subtitle">
    <div class="line_1"></div>
    <div class="subtitle_text">Puntos Fuertes</div>
    <div class="line_2"></div>
</section>
<section class="section-strong-point">
    <marquee class="marq1"><div class="line"></div></marquee>
    <marquee class="marq1"><div class="line"></div></marquee>
    <marquee class="marq1"><div class="line"></div></marquee>
    <marquee class="marq1"><div class="line"></div></marquee>
    <marquee class="marq1"><div class="line"></div></marquee>
    <marquee class="marq1"><div class="line"></div></marquee>
    <div class="card">
        <div class="icon_card">
            <img src="./assets/industria.svg" alt="industria" class="icon">
        </div>
        <div class="title">
            Industrias
        </div>
        <div class="comments">
            Amplia experiencia en la graficacion de sensores,consulta de datos a
            PLC y servidores implementados en plantas industriales.
        </div>
    </div>
    <div class="card">
        <div class="icon_card">
            <img src="./assets/design.svg" alt="diseño" class="icon">
        </div>
        <div class="title">Diseño</div>
        <div class="comments">
            Diseño adaptables (responsivo) y dinamicos usando Css, Scss y Sass.
            Implementados para aplicaciones mobiles nativas y aplicaciones web.
        </div>
    </div>
    <div class="card">
        <div class="icon_card">
            <img src="./assets/tiempo.svg" alt="tiempo optimizado" class="icon">
        </div>
        <div class="title">Tiempos de entrega</div>
        <div class="comments">
            Tiempos de entrega adaptados a nuestros clientes.
        </div>
    </div>
    <div class="card">
        <div class="icon_card">
            <img src="./assets/design.svg" alt="diseño" class="icon">
        </div>
        <div class="title">Alertas</div>
        <div class="comments">
           Capturamos eventos de correos, SMS y notificaciones en aplicaciones. Mejora la comunicación y toma decisiones más rápidas
        </div>
    </div>
    <div class="card">
        <div class="icon_card">
            <img src="./assets/design.svg" alt="diseño" class="icon">
        </div>
        <div class="title">Soporte de software especializado</div>
        <div class="comments">
            Brindamos soporte para cualquier lenguaje o software que tu necesites
        </div>
    </div>
</section>
<section class="subtitle">
    <div class="line_1"></div>
    <div class="subtitle_text">Proyectos</div>
    <div class="line_2"></div>
</section>
<section class="container-proyectos">

    <div class="bloque-proyecto">
        <div class="card">
            <img src="./assets/proyecto001_img1.png" alt="proyecto nomina 1" class="card_background">
        </div>
        <div class="card">
            <img src="./assets/proyecto001_img2.png" alt="proyecto nomina 2" class="card_background">
        </div>
        <div class="card">
            <img src="./assets/proyecto001_img3.png" alt="proyecto nomina 3" class="card_background">
        </div>
        <div class="container-saber-mas-proyectos">
            <div class="btn">
                <span class="down">Ver proyectos</span>
                <span class="top">Saber mas</span>
                <div class="focus"></div>
            </div>
        </div>
    </div>
</section>

<section class="subtitle">
    <div class="line_1"></div>
    <div class="subtitle_text">Tecnologias implementadas</div>
    <div class="line_2"></div>
</section>
<div class="technology-border-top"></div>
<section class="technology">
    <div class="card-techology">
        <img src="./assets/js.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/Typescript.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/Angular.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/html.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/nestjs.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/css.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/sass.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/php.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/aws.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/ionic.png" alt="Javascript">
    </div>
    <div class="card-techology">
        <img src="./assets/node.png" alt="Javascript">
    </div>
</section>
<div class="technology-border-bottom"></div>