<div class="container-articulos">
    <div class="card-title">
        <div class="title">
            Articulos relacionados.
        </div>
    </div>
    <div class="card-title">
        <div class="subtitle">
            Te proporcionamos informacion relacionada con nuestro trabajo.
        </div>
    </div>

    <div class="container-articulo">
        <div class="icon-container-article">
           <img src="./assets/document.svg" alt="document" class="document">
        </div>
        <div class="information-container-article">
            <div class="title">Software a la medida</div>
            <div class="description">
                El software a la medida es una solucion tecnologica diseñada especificamente para
                adaptarse a las necesidades particulares de una entidad o empresa.
            </div>
        </div>
    </div>
</div>