<div class="container-primary">
    <div class="card-title">
        <div class="title">Direcciones de Correos</div>
    </div>

    <div class="card-email">ventas@audesystems.com</div>
    <div class="card-email">gustavo.mayorga@audesystems.com</div>
    <div class="card-title">
        <div class="title">Mensaje directo</div>
    </div>
    <a href="https://wa.me/+528713659940?text=Hola,%20necesito%20información">
        <div class="container-whatsapp">
            <div class="container-icon">
                <img src="./assets/WhatsApp_icon.png" alt="Mensaje a Whatsapp" class="whatsapp">
            </div>
            Mandar Mensaje a Whatsapp
        </div>
    </a>
    <div class="card-title">
        <div class="title">Telefono</div>
    </div>
    <div class="card-phone">
        <div class="phone">+52 (871)3659940</div>
    </div>
 <br>
 <br>
</div>