<div class="container-primary">
    <app-nav></app-nav>
    <main>
        <section class="menuLeft">

        </section>
     
        <div class="responsiveTitle">
            <span class="title">
                AUDE
                <span class="subtitle">
                    systems.
                </span>
            </span>
        </div>
        <section class="container-title">
            <div class="left">
                <img src="./assets/progressive_app.svg" alt="" class="icon_01" alt="primary icon">
            </div>
            <div class="right">
                <div class="title">
                    Impulsamos la automatización y el desarrollo de software a medida para comercios e industrias.
                    Somos expertos en crear soluciones tecnológicas personalizadas para satisfacer las necesidades de
                    nuestros clientes.
                </div>
                <div class="container-options">
                    <div class="options">
                        <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                        <span class="option_text">Atencion a clientes 24/7</span>
                    </div>
                    <div class="options">
                        <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                        <span class="option_text">Software multiplataforma</span>
                    </div>
                    <div class="options">
                        <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                        <span class="option_text">Diseño dinamicos</span>
                    </div>
                    <div class="options">
                        <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                        <span class="option_text">Plazos de entrega optimizados</span>
                    </div>
                    <div class="options">
                        <img src="./assets/mark.png" alt="imagen de palomita" class="icon_option">
                        <span class="option_text">Administracion de hosting</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="subtitle">
            <div class="line_1"></div>
            <div class="subtitle_text">Puntos Fuertes</div>
            <div class="line_2"></div>
        </section>
        <section class="section-strong-point">
            <div class="card">
                <div class="icon_card">
                    <img src="./assets/industria.svg" alt="industria" class="icon">
                </div>
                <div class="title">
                    Industrias
                </div>
                <div class="comments">
                    Amplia experiencia en la graficacion de sensores,consulta de datos a
                    PLC y servidores implementados en plantas industriales.
                </div>
            </div>
            <div class="card">
                <div class="icon_card">
                    <img src="./assets/design.svg" alt="diseño" class="icon">
                </div>
                <div class="title">Diseño</div>
                <div class="comments">
                    Diseño adaptables (responsivo) y dinamicos usando Css, Scss y Sass.
                    Implementados para aplicaciones mobiles nativas y aplicaciones web.
                </div>
            </div>
            <div class="card">
                <div class="icon_card">
                    <img src="./assets/tiempo.svg" alt="tiempo optimizado" class="icon">
                </div>
                <div class="title">Tiempos de entrega</div>
                <div class="comments">
                    Tiempos de entrega adaptados a nuestros clientes.
                </div>
            </div>
        </section>
        <section class="subtitle">
            <div class="line_1"></div>
            <div class="subtitle_text">Proyectos</div>
            <div class="line_2"></div>
        </section>
        <section class="container-proyectos">

            <div class="bloque-proyecto">
                <div class="card">
                    <img src="./assets/proyecto001_img1.png" alt="proyecto nomina 1" class="card_background">
                </div>
                <div class="card">
                    <img src="./assets/proyecto001_img2.png" alt="proyecto nomina 2" class="card_background">
                </div>
                <div class="card">
                    <img src="./assets/proyecto001_img3.png" alt="proyecto nomina 3" class="card_background">
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</div>