<div class="container-primary">
    <nav>
        <div class="container-icon"></div>
        <div class="container-options">
            <div class="options">Contacto</div>
            <div class="options">Acerca de</div>
        </div>
    </nav>
    <main>
        <section class="container-title">
            <div class="left">
                <span class="title">
                    AUDE
                    <span class="subtitle">
                        systems.
                    </span>
                </span>
            </div>
            <div class="right">
                AUDE Systems impulsa la automatización y el desarrollo de software a medida para comercios e industrias.
                Somos expertos en crear soluciones tecnológicas personalizadas para satisfacer las necesidades de
                nuestros clientes.
            </div>
        </section>
        <section class="container-proyectos">
            <div class="subtitle">
                <div class="line_1"></div>
                <div class="subtitle_text">Proyectos</div>
                <div class="line_2"></div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</div>