
    <nav (loadstart)="responsiveMenuClick_Event(menu)">
        <div class="left">
            <span class="title">
                AUDE
                <span class="subtitle">
                    systems.
                </span>
            </span>
        </div>

        <div class="container-options">
            <div class="options">
                <a href="https://www.instagram.com/audesystems/">
                    Instagram
                </a>
            </div>
            <div class="options">Contacto</div>
            <div class="options">Acerca de</div>
        </div>

        <div class="container-options-responsive">
            <div class="options" (click)="responsiveMenuClick_Event(menu)">
                <img src="./assets/menu.svg" class="menu-icon" alt="menu">
            </div>

        </div>
    </nav>

    <div class="hiddeMenu" #menu>
        <div class="option" (click)="changeMenuOption(0)">
            <img src="./assets/menu/house-blank.svg" alt="Inicio" class="icon">
            Inicio
            <div class="shadow" *ngIf="menuOption === 0"></div>
        </div>
        <div class="option" (click)="changeMenuOption(1)">
            <img src="./assets/menu/headset.svg" alt="Contacto" class="icon">
            Contacto
            <div class="shadow" *ngIf="menuOption === 1"></div>
        </div>
        <div class="option" (click)="changeMenuOption(2)">
            <img src="./assets/menu/poll-h.svg" alt="Articulos" class="icon">
            Articulos
            <div class="shadow" *ngIf="menuOption === 2"></div>
        </div>
        <div class="option" (click)="changeMenuOption(3)">
            <img src="./assets/menu/instagram.svg" alt="Instagram" class="icon">
            Instagram
            <div class="shadow" *ngIf="menuOption === 3"></div>
        </div>
        <div class="option" (click)="changeMenuOption(4)">
            <img src="./assets/menu/info.svg" alt="About" class="icon">
            Nosotros
            <div class="shadow" *ngIf="menuOption === 4"></div>
        </div>
    </div>