<nav>
    <div class="left">
        <span class="title">
            AUDE
            <span class="subtitle">
                systems.
            </span>
        </span>
    </div>

    <div class="container-options">
        <div class="options">
            <a href="https://www.instagram.com/audesystems/">
                Instagram
            </a>
        </div>
        <div class="options">Contacto</div>
        <div class="options">Acerca de</div>
    </div>

    <div class="container-options-responsive">
        <div class="options">
            <img src="./assets/menu.svg" class="menu-icon">
        </div>
     
    </div>
</nav>