@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*font-family: 'Mukta', sans-serif;*/

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: min-content;
}

.container-primary {
    width: 100vw;
    height: min-content;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    margin-top: 95px;
    display: flex;
    justify-content: center;

    section {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0px 0%;

       aside{
        width:30%;
        height: 100%;
        // background-color: red;
        border: 1px solid rgb(154, 154, 154);
        border-radius: 5px;
        margin-right: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .publicidad{
          width: 100%;
          height: auto;
          min-height: 200px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          background-color:#223954;
        }
       }
    }

    .title {
        width: max-content;
        padding: 10px 5px;
        border-bottom: 5px solid rgb(63, 107, 179);
        margin: 10px auto;
        font-size: calc(1vw + 24px);
        font-weight: bold;
        color: black;
    }

    .container-informacion {
        //paddings margins borders
        padding: 0px 50px;
        //size
        width: 70%;
        height: max-content;
        @include center();
        flex-direction: column;

        .bibliografias>.content>.inf {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0px;

            ul {
                margin: 5px;
                padding: 10px;
                border-radius: 5px;
                width: 100%;
                height: auto;
                font-size: 12px;
                font-weight: bold;
                border: 1px solid rgb(151, 151, 151);
                overflow: hidden;
            }
        }

        .tema {
            .subtitle {
                width: max-content;
                padding: 0px 10px;
                font-size: 23px;
                font-weight: bolder;
                border-left: 5px solid rgb(63, 107, 179);
            }

            .estradilla {
                display: flex;
                align-items: center;

                .circle {
                    width: 10px;
                    height: 10px;
                    background-color: black;
                    border-radius: 50%;
                }

                gap: 8px;
                width: max-content;
                font-size: 19px;
                font-weight: bolder;

            }

            .content {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .inf {
                    font-weight: 600;
                    font-family: 'Mukta', sans-serif;
                    font-size: 18px;
                    text-overflow: ellipsis;
                    text-align: justify;
                    letter-spacing: 0.035cm;

                    li {
                        margin-bottom: 30px;
                    }
                    .mark{
                        color: #1b5597;
                        font-weight: 800;
                        letter-spacing: 0.025cm;
                    }
                }

                .card {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border: 1px solid rgb(182, 182, 182);
                    border-radius: 5px;
                    padding: 15px;
                    margin: 10px;

                    .title {
                        width: 100%;
                        font-weight: bold;
                        font-size: 18px;
                        color: rgb(72, 72, 72);
                    }

                    .inf {
                        width: 100%;
                        font-weight: bold;
                        font-size: 15px;
                        color: rgb(0, 0, 0);

                  
                    }
                }

                figure {
                    margin: 20px auto;
                    width: 90%;
                    overflow: hidden;
                    height: auto;
                    border-radius: 5px;
                 
                    // background-color: white;
                    // border:1px solid rgb(185, 185, 185);
                    // box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.133);
                    padding: 10px;
                    overflow: hidden;

                    figcaption {
                        font-weight: bold;
                        font-size: 18px;
                        //display
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    .helpimg {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                    }
                }


            }
        }

    }
}